<div class="question-container">
  <div class="question-card">
    <div class="div">
      <h1>Stupid Coaching</h1>
    </div>
<div class="form-container">
  <form action="/answer" data-turbo="false">
  <div>
    <div class="form-input">
      <label for="question">Ask your coach anything:</label>
      <input type="text" class="form-control" name="question">
    </div>
      <div class="form-button">
        <input type="submit" class="btn btn-primary" value="Ask!">
      </div>
  </div>
</form>
</div>

</div>
</div>
